<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&family=Inter:wght@900&family=Jua&family=Koulen&display=swap" rel="stylesheet">
    <title>Project</title>
</head>
<body>
    
    <div class="title">
        Detail!
    </div>
    <div class="container">
        <div class="detail-post_container">
            <div class="detail_title">
                제목: {{post.title}}
            </div>
            <div class="detail_content">
                내용: {{post.content}}
            </div>
            <div class="detail-post_btn">
                <a href="{% url 'home' %}">홈 화면</a>
                <a href="{% url 'edit' post.pk %}">수정하기</a>
                <a href="{% url 'delete' post.pk %}">삭제하기</a>
            </div>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="content" placeholder="댓글을 입력해주세요" />
                <button type="submit">작성하기</button>
            </form>
        {% for comment in post.comments.all %}
            <li>{{comment.content}}</li>
            <a href={% url 'delete-comment' post.pk comment.pk %}>삭제</a>
            <form method="POST">
            <button type="submit">대댓글</button>
                {% csrf_token %}
                <input type="text" name="content" placeholder="댓글을 입력해주세요" />
            </form>
            
            {% endfor %}
            
            
        </div>
    </div>
</body>
{% endblock %}
</html>

